.bg-dark{
    background-color: black;
    color: white;
}

.container{
    max-width: 500px;
    margin:auto ;
    border: 2px solid red;
    border-radius: 20px;
}

.font{
    font-size: medium;
}

.blue{
    background-color: blue;
    color: aliceblue;
}