@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

button {
  font-family: inherit; /* cause buttons has their own font family, and i want them to use their parent's font family...*/
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #fff;
}
